<h1>To Do List</h1>
<p><%= link_to 'New Item', new_to_do_list_path %></p>
<% @to_do_lists.each do |to_do_list| %>
<h2><%= to_do_list.item %></h2>
<%= link_to 'Show Notes', to_do_list_path(to_do_list) %>
<%= link_to 'Edit Item', edit_to_do_list_path(to_do_list) %>
<% end %>